a {
  all: unset;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #0f0f0f;
  width: 100%;
  height: 10vh;
  color: #fff;
}

.nav--header {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.cards-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 45px 0 28px;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'image maps'
    'image head'
    'image dates'
    'image descrition';
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 40px;
  column-gap: 20px;
}

.card--image {
  grid-area: image;
  border-radius: 5px;
  width: 100%;
}

.card--maps {
  grid-area: maps;
  display: flex;
  gap: 20px;
  align-items: center;
}

.card--maps p:nth-of-type(1) {
  color: #2b283a;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.card--maps p:nth-of-type(2) {
  font-size: 10.24px;
  font-weight: 400;
  text-decoration-line: underline;
  color: #918e9b;
}

.card--header {
  grid-area: head;
  font-weight: 700;
  color: #2b283a;
}

.card--dates {
  grid-area: dates;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2b283a;
  margin-bottom: 10px;
}

.card--descriptipon {
  grid-area: description;
  font-weight: 400;
  color: #2b283a;
  line-height: 150%;
}
